<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<ul>
<%  @todos.each do |todo| %>
  <li><%= todo.description %></li>
<% end  %>
</ul>

<%= link_to "New Todo", new_todo_path %>